li {
  list-style: none;
}

/* Float four columns side by side */
.main {
    background: #fff
}

.column {
    width: 90%;
    padding: 20px;
    margin: auto;
    display: block;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card-article {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #fff;
    position: relative;
    top: 75px;
    margin: auto;
    margin-bottom: 15px;
  }

  .card-article:hover {
    background-color: rgba(0, 132, 240, 0.2)
  }

  .card-article img {
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    overflow: hidden;
  }

  .article-overlay {
    background-color:  rgba(3, 131, 190, 0.6);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 8px 0 rgba(255, 255, 255, 0.19);
    width: 100%;
    max-width: 100%;
    height: 30%;
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: table-cell;
    vertical-align: middle;
 
  }

  .article-overlay a:link a:visited a:hover a:active {
    text-decoration: none;
   }

  .article-overlay h3:hover {
    text-decoration: none;
    color: rgb(3, 131, 190);
   }

   .article-overlay a:hover + .blurb {
     display: block;
     animation-name: fadein;
    animation-duration: 1s;
   }

  .article-overlay p, h3 {
      color: #fff;
  }

  .blurb {
    font-size: 1.5vw;
    font-family: 'PT Sans Narrow', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;
  }


  .card-article a{
      position: absolute;
      top: 25px;
      left: 25px;
      margin: auto;
      color: #fff;
      font-size: 0.75em;
      font-family: 'Bebas Neue', sans-serif;
  }

  .card-article a:link a:visited a:hover a:active{
      text-decoration: none;
  }

  .author {
      color: #fff;
      position: absolute;
      top: 50px;
      left: 25px;
      font-size: 0.75em;
      font-family: 'Bebas Neue', sans-serif;
  }

  .article-date {
    color: #fff;
    position: absolute;
    top: 75px;
    left: 25px;
    font-size: 0.75em;
    font-family: 'Bebas Neue', sans-serif;
}

.bookmark {
  color: #fff;
  position: absolute;
  top: 100px;
  left: 25px;
  font-size: 0.75em;
  font-family: 'Bebas Neue', sans-serif;
  cursor: pointer;
}

.comment-icon {
  color: #fff;
  position: absolute;
  top: 125px;
  left: 25px;
  font-size: 0.75em;
  font-family: 'Bebas Neue', sans-serif;
  cursor: pointer;
}


  .card-article h3 {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 2vw;
      color: #fff;
  }

  .heading {
    position: absolute;
    width: 80vw;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.5vw;
  }


  .article-grid {
    width: 100%;
  }

  .article-grid h3 {
      margin: auto;
  }

  .article-grid ul {
      list-style: none;
  }

  .header {
      width: 100%;
      opacity: 1;
  }

  .infobox {
    background-image: linear-gradient(to right, rgba(3,131,190,0.7), rgba(3,131,190,0));
    position: absolute;
    top: 16px;
    left: 16px;
    width: 20vw;
    height: 17vh;
  }

  .infobox p, .infobox a{
    font-size: 1em;
  }

  @media screen and (max-width: 768px) {
    .infobox {
      width: 25vw;
    }
    
    .infobox p, .infobox a {
      font-size: 0.6em;
    }
  }
  
  /* Bookmarked articles */

  .bookmark-card {
    position: relative;
    top: 65px;
    display: block;
    margin-top: 20px;
    background-color: rgba(3, 131, 190, 0.2);
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.19);
  }

  .bookmark-card img {
    margin: 10px;
    width: 100%;
    max-width: 350px;
    max-height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.19);
  }

  .bookmark-card li {
    display: inline-block;
  }



  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

