@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Lato|Anton&display=swap');

.right {
  float: right;
}

.left {
  float: left;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100vw; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  rgba(0, 0, 0, 0.65); /* Black background with opacity */
  z-index: 1000; 
}

/* NavBar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,1);
  max-height: 75px;
  margin: auto;
  z-index: 1000;
}

.carousel {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(3, 131, 190);
}

.navbar li {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  display: table-cell;
  color: #fff;
  padding-right: 15px;
  vertical-align: center;
}

.navbar li:hover {
  color: rgb(3, 131, 190);
}

.navbar {
  width: 100%;
  background: #000000;
  display: inline-block;
  padding: 5px;
}
.navbar ul{
list-style: none;
margin: 0 auto;
padding:0;
}

.navbar ul li{
color: #fff;
float: left;
line-height: 50px;
text-align: center;
cursor: pointer;
font-family: 'Bebas Neue', sans-serif;
transition: 0.5s;
position: relative;
padding:0 20px;
}

.togglesearch{
  background: transparent;
  position: fixed;
  top: 75px;
  left: 5%;
  width: 300px;
  height: 40px;
  line-height: 30px;
  display: none;
}

.togglesearch-clicked{
  background: transparent;
  position: fixed;
  top: 75px;
  right: 5%;
  width: 300px;
  height: 40px;
  line-height: 30px;
  display: inline;
}
 
.togglesearch-clicked input[type="text"]{
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 1px 0 rgba(3, 131, 190, 0.2), 0 3px 4px 0 rgba(3, 131, 190, 0.19);
  width: 200px;
  color: #fff;
  padding: 5px 5px;
  margin-left: 23px;
  border: 1px solid white;
}
 
.togglesearch-clicked input[type="button"]{
  width: 80px;
  padding: 5px 0;
  background: rgb(3, 131, 190);
  color: #fff;
  margin-left: -6px;
  border: 1px solid rgb(3, 131, 190);
  outline: none;
  cursor: pointer;
}

@media only screen and (min-width:240px) and (max-width: 768px){
  .navbar ul li{
      float:none;
      display:block;
      text-align:center;
      margin:0 auto;
  }
}

#login-btn {
  color: #fff;
  display: table-cell;
  vertical-align: center;
  font-size: 2rem;
}

/* Logo */

.logo {
  max-width: 250px;
  height: 50px;
  z-index: 1;
  float: left;
}

/* Main Image */

.hero {
  height: 100vh;
  width: 100%;
  background: black;
  overflow: hidden;
}

.thumbnail {
  height: 50px;
  width: 80px;
  margin: 5px;
  margin-top: -10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.2), 0 4px 8px 0 rgba(255, 255, 255, 0.19);
}


.main-img {
  left: 0;
  max-width:100%;
  max-height:100%;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.main-img-card {
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 8px 0 rgba(255, 255, 255, 0.19);
  width: 40%;
  height: 30%;
  max-width: 40%;
  position: absolute;
  top: 30%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5em;
  color: #fff;
  padding: 10px;
  z-index: 10;
}

/* Search */

.search {
  
  width: 200px;
  height: 75px;
  background-color: white;
  position: relative;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.loading {
  width: 100%;
  height: 100%;
}

section.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.wrapper.dark {
  background: #000;
}

section h1 {
  position: fixed;
  top: 35%;
  left: 42%;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
}

div.spinner {
  -moz-animation: rotate 10s infinite linear;
  -webkit-animation: rotate 10s infinite linear;
  animation: rotate 10s infinite linear;
  position: relative;
  display: block;
  margin: auto;
  width: 82px;
  height: 82px;
}
div.spinner i {
  -moz-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  -webkit-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  -moz-transform-origin: 50% 100% 0;
  -webkit-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  border: solid 6px transparent;
  border-bottom: none;
}
div.spinner i:nth-child(1) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  width: 44px;
  height: 22px;
  margin-top: -22px;
  margin-left: -22px;
  border-color: #2172b8;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}
div.spinner i:nth-child(2) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  width: 58px;
  height: 29px;
  margin-top: -29px;
  margin-left: -29px;
  border-color: #18a39b;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
}
div.spinner i:nth-child(3) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  width: 72px;
  height: 36px;
  margin-top: -36px;
  margin-left: -36px;
  border-color: #82c545;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
}
div.spinner i:nth-child(4) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  width: 86px;
  height: 43px;
  margin-top: -43px;
  margin-left: -43px;
  border-color: #f8b739;
  border-top-left-radius: 54px;
  border-top-right-radius: 54px;
}
div.spinner i:nth-child(5) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  width: 100px;
  height: 50px;
  margin-top: -50px;
  margin-left: -50px;
  border-color: #f06045;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
div.spinner i:nth-child(6) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  width: 114px;
  height: 57px;
  margin-top: -57px;
  margin-left: -57px;
  border-color: #ed2861;
  border-top-left-radius: 66px;
  border-top-right-radius: 66px;
}
div.spinner i:nth-child(7) {
  -moz-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  width: 128px;
  height: 64px;
  margin-top: -64px;
  margin-left: -64px;
  border-color: #c12680;
  border-top-left-radius: 72px;
  border-top-right-radius: 72px;
}
div.spinner i:nth-child(8) {
  -moz-animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
  animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
  width: 142px;
  height: 71px;
  margin-top: -71px;
  margin-left: -71px;
  border-color: #5d3191;
  border-top-left-radius: 78px;
  border-top-right-radius: 78px;
}

@-moz-keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}